<% var title="letter-page"; var description="letter-page"; %> <%
include src/ejs/template/_head %>
<% var image_path='/assets/images/' %>

<main class="l-about">
  <div class="p-about-title">
    <h1 class="p-about-title__text">○○へ</h1>
  </div>

  <div class="p-about-featureImg">
    <img src="<%= image_path %>section33.jpeg" class="p-about-featureImg__woman">
    <img src="<%= image_path %>section33.jpeg" class="p-about-featureImg__man">
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky1"></div>
    <div class="p-about-letter__section p-about-letter__section01">
      <div class="p-about-letter__pic p-about-letter__pic01"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○！　誕生日おめでとう！</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section02">
      <div class="p-about-letter__pic p-about-letter__pic02"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section03">
      <div class="p-about-letter__pic p-about-letter__pic03"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>


    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword">○○○</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky2"></div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section04">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic04"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section05">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic05"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section06">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic06"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section07">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic07"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword">それから...</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky3"></div>
    <div class="p-about-letter__section p-about-letter__section08">
      <div class="p-about-letter__pic p-about-letter__pic08"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__section p-about-letter__section09">
      <div class="p-about-letter__pic p-about-letter__pic09"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bg p-about-letter__background">
      <div class="p-about-letter__whitePic">
        <img class="p-about-letter__sticky" src="<%= image_path %>section10.jpeg">
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--1">○○○○○○○</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky4"></div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section11">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic11"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section12">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic12"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section13">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic13"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword p-about-letter__bgword--SP">それ以外にも...</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky5"></div>
    <div class="p-about-letter__section p-about-letter__section14">
      <div class="p-about-letter__pic p-about-letter__pic14"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section15">
      <div class="p-about-letter__pic p-about-letter__pic15"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section16">
      <div class="p-about-letter__pic p-about-letter__pic16"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bg p-about-letter__background">
      <div class="p-about-letter__whitePic">
        <img class="p-about-letter__sticky" src="<%= image_path %>section10.jpeg">
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--2">○○○○○○○○</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky6"></div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section18">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic18"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section19">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic19"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bgwhite--double">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword">○○○</p>
      </div>
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword p-about-letter__bgword--SP">○○<br class="responsive_only">○○○○○○○○○○</p>
      </div>
    </div>

    <div class="p-about-letter__bg p-about-letter__background">
      <div class="p-about-letter__whitePic">
        <img class="p-about-letter__sticky" src="<%= image_path %>section10.jpeg">
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--3">○○○○○○○○</p>
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--4">○○○○○○</p>
      </div>
    </div>

    <div class="p-about-letter__bg p-about-letter__background">
      <div class="p-about-letter__whitePic">
        <img class="p-about-letter__sticky" src="<%= image_path %>section10.jpeg">
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--5">○○○○○○○○○○○</p>
      </div>
      <div class="c-speech-bubble">
        <p class="c-speech-bubble__text c-speech-bubble__text--6">○○○○○○○○○○</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky7"></div>
    <div class="p-about-letter__section p-about-letter__section22">
      <div class="p-about-letter__pic p-about-letter__pic22"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section23">
      <div class="p-about-letter__pic p-about-letter__pic23"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section24">
      <div class="p-about-letter__pic p-about-letter__pic24"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section25">
      <div class="p-about-letter__pic p-about-letter__pic25"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword c-bg-white-img-1 p-about-letter__bgword--SP">（○○○○○○○○○○...）</p>
      </div>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky8"></div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section27">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic27"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section28">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic28"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section--reverse p-about-letter__section29">
      <div class="p-about-letter__pic p-about-letter__pic--right p-about-letter__pic29"></div>
      <p class="p-about-letter__word p-about-letter__word--right">○○○○○○○○○○</p>
    </div>
  </div>

  <div class="p-about-stickyContainer">
    <div class="p-about-bgSticky p-about-bgSticky9"></div>
    <div class="p-about-letter__section p-about-letter__section30">
      <div class="p-about-letter__pic p-about-letter__pic30"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>
    <div class="p-about-letter__section p-about-letter__section31">
      <div class="p-about-letter__pic p-about-letter__pic31"></div>
      <p class="p-about-letter__word p-about-letter__word--left">○○○○○○○○○○</p>
    </div>

    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection">
        <p class="p-about-letter__bgword">さいごに...</p>
      </div>
    </div>

    <div class="p-about-letter__bgwhite">
      <div class="p-about-letter__bgsection c-bg-white-img-2">
        <p class="p-about-letter__bgword p-about-letter__bgword--lineHeight">○○○○○<br class="responsive_only">○○○○○</p>
      </div>
    </div>
  </div>

  <div class="p-about-letter__myName">
    <p class="p-about-letter__word p-about-letter__word--center">○○○○○○○より</p>
  </div>
  <a href="/" class="c-letterBtn p-about-letterBtn">
    <i class="fas fa-heart c-letterBtn__heart"></i>
    <p class="c-letterBtn__text p-about-letterBtn__text">手紙を閉じる</p>
  </a>
</main>

<% include src/ejs/template/_footer %>

<script>
  $(function() {
    //windowがスクロールされたら 現れる
    $(window).scroll(function (){
      $('.p-about-letter__word').each(function(){
        var textPosition = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > textPosition - windowHeight + 100){
          $(this).addClass('visible2');
        }
      });

      $('.p-about-featureImg__woman').each(function(){
        var textPosition = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > textPosition - windowHeight + 100){
          $(this).addClass('visible1');
        }
      });

      $('.p-about-featureImg__man').each(function(){
        var textPosition = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > textPosition - windowHeight + 100){
          $(this).addClass('visible1');
        }
      });
    });

    //imgの入れ替わり
    $('.p-about-letter__section').each(function(i, elem){
      var imgPos = $(elem).offset().top;
      $(window).on('load scroll resize', function(){
        var winHeight = $(window).height();
        var scrollTop = $(window).scrollTop();
        var apper = 500;
        var disapper = 1100;

        // 500px~1100px、コンテンツが見えたら次のif文がtrue
        if (scrollTop >= imgPos  - winHeight + apper && scrollTop <= imgPos  - winHeight + disapper){
          $(elem).addClass('show');
        } else {
          $(elem).removeClass('show');
        }
      });
    });

    $('.p-about-letter__bgwhite').each(function(i, elem){
      var imgPos = $(elem).offset().top;
      $(window).on('load scroll resize', function(){
        var winHeight = $(window).height();
        var scrollTop = $(window).scrollTop();
        var apper = 400;
        var disapper = 1600;

        if (scrollTop >= imgPos  - winHeight + apper && scrollTop <= imgPos  - winHeight + disapper){
          $(elem).addClass('show');
        } else {
          $(elem).removeClass('show');
        }
      });
    });

    $('.p-about-letter__bgwhite--double').each(function(i, elem){
      var imgPos = $(elem).offset().top;
      $(window).on('load scroll resize', function(){
        var winHeight = $(window).height();
        var scrollTop = $(window).scrollTop();
        var apper = 400;
        var disapper = 3400;

        if (scrollTop >= imgPos  - winHeight + apper && scrollTop <= imgPos  - winHeight + disapper){
          $(elem).addClass('show');
        } else {
          $(elem).removeClass('show');
        }
      });
    });

    $('.p-about-letter__background').each(function(i, elem){
      var imgPos = $(elem).offset().top;
      $(window).on('load scroll resize', function(){
        var winHeight = $(window).height();
        var scrollTop = $(window).scrollTop();
        var apper = 400;
        var disapper = 1800;

        if (scrollTop >= imgPos  - winHeight + apper && scrollTop <= imgPos  - winHeight + disapper){
          $(elem).addClass('show');
        } else {
          $(elem).removeClass('show');
        }
      });
    });

    $('.c-speech-bubble').each(function(i, elem){
      var imgPos = $(elem).offset().top;
      $(window).on('load scroll resize', function(){
        var winHeight = $(window).height();
        var scrollTop = $(window).scrollTop();
        var apper = -500;
        var disapper = -100;

        if (scrollTop >= imgPos  - winHeight + apper && scrollTop <= imgPos  - winHeight + disapper){
          $(elem).addClass('show2');
        } else {
          $(elem).removeClass('show2');
        }
      });
    });
  });
</script>