<% var title = "Top"; var description = "TOP"; %> <% include
src/ejs/template/_head %>
<% var video_path = '/assets/images/video/' %>

<main class="l-index">
  <div class="p-index">
    <video class="p-index-video" id="sleepy" src="<%= video_path %>namake.mov" playsinline loop autoplay muted></video>
    <div class="p-index-feature">
      <div class="p-index-featureTitle">
        <h1 class="c-featureTitle c-featureTitle__happy">
          <% var happy = ['H', 'A', 'P', 'P', 'Y']%>
          <% var happy_color = ['red', 'orange', 'green', 'lightblue', 'deepblue'] %>
          <% for(var i = 0; i < happy.length; i++) { %>
            <span class="c-happyPart c-featureTitle__happy--<%= happy_color[i] %>"><%= happy[i] %></span>
          <% } %>
        </h1>
        <h1 class="c-featureTitle c-featureTitle__birthday">
          <% var birthday = ['B', 'I', 'R', 'T', 'H', 'D', 'A', 'Y']%>
          <% var birthday_color = ['purple', 'pink', 'blue', 'yellowgreen', 'gray', 'brown', 'redpurple', 'green'] %>
          <% for(var i = 0; i < birthday.length; i++) { %>
            <span class="c-birthdayPart c-featureTitle__birthday--<%= birthday_color[i] %>"><%= birthday[i] %></span>
          <% } %>
        </h1>
        <% for(var i = 0; i < 4 ; i++) { %>
          <span class="c-featureName c-featureName__anim--<%= i+1 %>">○○○○!</span>
        <% } %>
      </div>
      <p class="c-featureText">〜○○○○○○○○○○○○〜</p>
      <a href="/about" class="c-letterBtn">
        <i class="fas fa-heart c-letterBtn__heart"></i>
        <p class="c-letterBtn__text">手紙を見る</p>
      </a>
    </div>
  </div>
</main>

<% include src/ejs/template/_footer %>

<script>
  $(document).ready(function(){

    $(".c-featureTitle").css({opacity:'0'});
    $(".c-featureText").css({opacity:'0'});
    $(".c-letterBtn").css({opacity:'0'});

    // 100/1000秒のスピードで、2秒後に、opacity 0 → opacity 1　へ。
    setTimeout(function(){
      $(".c-featureTitle").stop().animate({opacity:'1'},100);
    },2000);

      setTimeout(function(){
      $(".c-featureText").stop().animate({opacity:'1'},3000);
    },2000);

      setTimeout(function(){
      $(".c-letterBtn").stop().animate({opacity:'1'},3000);
    },2000);
  });
</script>